* {
  padding: 0;
  margin: 0;
}

.topcontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.topcontainer input {
  margin-right: 10px;
}

.maintitle {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.todocontainer {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 30vw;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.itemText {
  display: flex;
  justify-content: baseline;
}

.item img {
  width: 20px;
}

.item p {
  margin-left: 20px;
  text-transform: capitalize;
}

.container h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}