/* Global styling */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
}

/* Top container styling */

.topcontainer {
  display: flex;
  justify-content: center;
}

.topcontainer input {
  margin-right: 10px;
  padding: 5px;
  border: 3px solid black;
  font-weight: bold;
  font-size: 15px;
  color: #B3B3B3;
  background-color: #404040;
}

.topcontainer button {
  padding: 5px;
  border: 3px solid black;
  font-size: 15px;
  font-weight: bold;
  color: #B3B3B3;
  background-color: #404040;
}

.itemText input {
  border: none;
  padding: 5px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  color: #B3B3B3;
  background-color: #404040;

}

.maintitle {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #ffffff;
}

.header {
  border: 3px solid black;
  margin: 20px 30vw;
  padding: 20px 10px;
  background-color: #404040;
}

.header p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #B3B3B3;
}

/* Styling for the to-do boxes */

.todocontainer {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 30vw;
  height: 50vh;
  margin-top: 20px;
  border: 3px solid black;
  background-color: #404040;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 15px;
}

.itemText {
  display: flex;
  justify-content: baseline;
  width: 20vw;
}

.itemText p {
  font-weight: bold;
}

.itemText p input {
  width: 19vw;
}

.itemImage {
  display: flex;
  align-items: center;
  width: 6vw;
}

.item p {
  margin-left: 20px;
  color: #B3B3B3;
}

.container h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #ffffff;
}

/* Icon styling */

.quill {
  width: 28px;
  margin-right: 3px;
}

.arrow {
  width: 23px;
  margin-right: 5px;
}

.dustbin {
  width: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .item {
    flex-direction: column;
  }

  .itemText {
    flex-direction: column;
  }

  .itemImage {
    margin-left: 20px;
  }

  .todocontainer { 
    flex-direction: column;
  }

  .container {
    width: 80vw;
    height: 50vh;
    margin-top: 20px;
    margin-left: 10vw;
    border: 3px solid black;
    background-color: #404040;
  }

  .header {
    width: 80vw;
    margin: 10px 10vw;
  }
}